<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">CreatedAt</th>
    <th scope="col">UpdatedAt</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr start="i" *ngFor="let object of specialtiesDr ; let i = index">
    <th scope="row">{{ i+1 }}</th>
    <td>{{ object.name }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.createdAt | date : 'medium'  : 'GMT+2' }}</td>
    <td>{{ object.updatedAt | date : 'medium'  : 'GMT+2' }}</td>
    <td><button type="submit" class="btn btn-primary" (click)="update(object.name)">Update</button></td>
  </tr>
  </tbody>
</table>

<form #f="ngForm">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" placeholder="Enter name" name="id" [(ngModel)]="specialtyDr.id">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="specialtyDr.name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Enter description" name="description" [(ngModel)]="specialtyDr.description">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addSpecialtyDr()">Submit</button>
  <button type="submit" class="btn btn-primary" (click)="updateSpecialtyDr()">Update</button>
</form>
