<app-symptom-form *ngIf="viewForm" (addEvent)="addSymptom($event)"
                  (editEvent)="editSymptom($event)"
                  [addModeChild]="addMode"
                  [symptom]="symptomToEdit"
                  ></app-symptom-form>
<div class=container>
  <div class="row mt-2">
    <div class="col-md-8">
      <h2><i class="bi bi-table"></i> Symptômes table</h2>
    </div>
    <div class="col-md-4">
      <div class="search-box ">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchValue">
      </div>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col"><i class="bi bi-funnel-fill"></i></th>
        <th scope="col">
          <select class="filtre form-select form-select-sm" [(ngModel)]="filtreValue" (change)="getFiltreName('name')">
            <option selected [ngValue]="undefined">Filtre</option>
            <option *ngFor="let object of symptomsZoneSelect"> {{ object }}</option>
          </select>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="text-lg-center h5">
          <a *ngIf="!viewForm" role="button" class="text-success p-2" title="Add" data-toggle="tooltip" (click)="viewForm = true; addMode=true"><i class="bi bi-plus-square"></i></a>
          <a *ngIf="viewForm" role="button" class="text-danger p-2" title="Add" data-toggle="tooltip" (click)="viewForm = false; addMode=false"><i class="bi bi-x-circle"></i></a>
        </th>
      </tr>
      <tr>

        <th scope="col" [appSort]="symptoms" data-order="desc" data-name="id">#</th>
        <th scope="col" [appSort]="symptoms" data-order="desc" data-name="name"><i class="bi bi-chevron-bar-expand"></i> Zone</th>
        <th scope="col" [appSort]="symptoms" data-order="desc" data-name="description"><i class="bi bi-chevron-bar-expand"></i> Nom</th>
        <th scope="col" [appSort]="symptoms" data-order="desc" data-name="createdAt" data-type="date"><i class="bi bi-chevron-bar-expand"></i> Date creation</th>
        <th scope="col" [appSort]="symptoms" data-order="desc" data-name="updatedAt" data-type="date"><i class="bi bi-chevron-bar-expand"></i> Date modification </th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let object of symptoms | searchFilter:searchValue | searchFilter:filtreValue:filtreName | paginate: config">
        <th>{{ object.id}}</th>
        <td>{{ object.name }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.createdAt | date : 'medium'  : 'GMT+2' }}</td>
        <td>{{ object.updatedAt | date : 'medium'  : 'GMT+2' }}</td>
        <td class="text-lg-center h5">
          <a role="button" class="text-info p-2" title="Edit" data-toggle="tooltip" (click)="sendEdit(object)"><i class="bi bi-pencil-square"></i></a>
          <a role="button" class="text-danger p-2" title="Delete" data-toggle="tooltip" (click)="deleteSymptom(object)"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
