<div class=container>
  <h2 *ngIf="addModeChild"><i class="bi bi-plus-circle"></i> Ajouter un symptôme</h2>
  <h2 *ngIf="!addModeChild"><i class="bi bi-pencil-square"></i> Modifier symptôme</h2>
  <form #f="ngForm" class="container">
    <div class="row">
      <div class="col-md-2 mb-2">
        <label for="symtomZone" class="form-label">Symptôme zone<span style="color: red"> *</span></label>
        <select class="form-select" aria-label="symtomZone" id="symtomZone" name="symtomZone"
                required
                [(ngModel)]="symptom.name"
                #zone="ngModel">
          <option disabled selected [ngValue]="undefined">Choisir ...</option>
          <option *ngFor="let object of symptomsZone" [ngValue]="object.name">
            {{ object.name }}
          </option>
        </select>
        <div *ngIf="zone.invalid && (zone.dirty || zone.touched)" class="mt-1">
          <span *ngIf="zone.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Zone symptôme est requis.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="symtomDescription" class="form-label">Symptôme description<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="symtomDescription" name="symtomDescription" aria-describedby="symtomDescriptionHelp"
               required
               pattern="^([^0-9]*)$"
               minlength="6"
               [(ngModel)]="symptom.description"
               #desc="ngModel">
        <div *ngIf="desc.pristine" id="symtomDescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Description doit contenir au moins 6 lettres.</div>
        <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="mt-1">
          <span *ngIf="desc.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Description symptôme est requise.
          </span>
          <span *ngIf="desc.errors.pattern || desc.errors.minlength" class=" form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
          </div>
        </div>
    </div>
      <div class="col-12 mb-3">
        <button *ngIf="addModeChild" type="submit" class="btn btn-success" (click)="sendAddNotif()" [disabled]="f.invalid "><i class="bi bi-plus-circle"></i> Ajouter</button>
        <button *ngIf="!addModeChild" type="submit" class="btn btn-primary" (click)="sendEditNotif()" [disabled]="f.invalid "><i class="bi bi-pencil-square"></i> Modifier</button>
      </div>
  </form>
</div>


