<div class=container>
  <h2><i class="bi bi-plus-circle"></i> File Medical Exam</h2>
  <form #f="ngForm" class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="title" class="form-label">Titre<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp"
               required
               pattern="^([^0-9]*)$"
               minlength="6"
               [(ngModel)]="fileMedicalExam.title"
               #titre="ngModel">
        <div *ngIf="titre.pristine" id="stHelp" class="form-text"><i class="bi bi-info-circle"></i> Nombre de jours</div>
        <div *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="mt-1">
          <span *ngIf="titre.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Titre Medical Examen est requise.
          </span>
          <span *ngIf="titre.errors.pattern || titre.errors.minlength" class=" form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <label for="description" class="form-label">Description<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="description" placeholder="" name="description"
               [(ngModel)]="fileMedicalExam.description"
               required
               #D="ngModel">
        <div *ngIf="D.pristine" id="DescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Description doit contenir au moins 6 lettres.</div>
        <div *ngIf="D.invalid && (D.dirty || D.touched)" class="mt-1">
          <span *ngIf="D.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Description medical examen est requise.
          </span>
          <span *ngIf="D.errors.pattern" class="form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <button type="submit" class="btn btn-success" (click)="sendAddNotif()" [disabled]="f.invalid "><i class="bi bi-plus-circle"></i> Ajouter</button>
    </div>
  </form>
</div>
