
<div class=container>
  <h2 *ngIf="addModeChild"><i class="bi bi-plus-circle"></i> Ajouter un Medical Examen</h2>
  <h2 *ngIf="!addModeChild"><i class="bi bi-plus-circle"></i> Modifier le Medical Examen</h2>

  <form #f="ngForm" class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="title" class="form-label">Medical Examen Titre<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp"
               required
               pattern="^([^0-9]*)$"
               minlength="6"
               [(ngModel)]="medicalExam.title"
               #titre="ngModel">
        <div *ngIf="titre.pristine" id="DescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Titre doit contenir au moins 6 lettres.</div>
        <div *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="mt-1">
          <span *ngIf="titre.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Titre Medical Examen est requise.
          </span>
          <span *ngIf="titre.errors.pattern || titre.errors.minlength" class=" form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="Description" class="form-label">description<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="description" name="description" aria-describedby="symtomDescriptionHelp"
               required
               pattern="^([^0-9]*)$"
               minlength="6"
               [(ngModel)]="medicalExam.description"
               #desc="ngModel">
        <div *ngIf="desc.pristine" id="symtomDescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Description doit contenir au moins 6 lettres.</div>
        <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="mt-1">
          <span *ngIf="desc.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Description medical examen est requise.
          </span>
          <span *ngIf="desc.errors.pattern || desc.errors.minlength" class=" form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="ObservationLab" class="form-label">Observation Lab<span style="color: red"> *</span></label>
        <input type="text" class="form-control" id="observationLab" name="observationLab" aria-describedby="symtomDescriptionHelp"
               required
               pattern="^([^0-9]*)$"
               minlength="6"
               [(ngModel)]="medicalExam.observationLab"
               #obs="ngModel">
        <div *ngIf="obs.pristine" id="symtomDescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Description doit contenir au moins 6 lettres.</div>
        <div *ngIf="obs.invalid && (obs.dirty || obs.touched)" class="mt-1">
          <span *ngIf="obs.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Description medical exam est requise.
          </span>
          <span *ngIf="obs.errors.pattern || obs.errors.minlength" class=" form-text text-danger">
             <i class="bi bi-exclamation-circle"></i> Veuillez description une valeur valide.
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Le Status</label>
        <select id="inputState" class="form-control" name="nombre" [(ngModel)]="medicalExam.status" required #status="ngModel">
          <option value="en cours" selected>en cours</option>
          <option value="allah yarhmou">allah yarhmou</option>
          <option value="fl janna">fl janna</option>
        </select>
        <div *ngIf="status.invalid && (status.dirty || status.touched)" id="symtomDescriptionHelp" class="form-text"><i class="bi bi-info-circle"></i> Veuillez Sélectionner le status.</div>
      </div>

    </div>
    <div class="col-12 mb-3">
      <button *ngIf="addModeChild" type="submit" class="btn btn-success" (click)="sendAddNotif()" [disabled]="f.invalid "><i class="bi bi-plus-circle"></i> Ajouter</button>
      <button *ngIf="!addModeChild" type="submit" class="btn btn-success" (click)="sendEditNotif()" [disabled]="f.invalid "><i class="bi bi-plus-circle"></i> Modifier</button>

    </div>

  </form>
</div>
