<app-header></app-header>

<div class="container mt-5">
  <h1><i class="bi bi-pencil-square"></i>Profile</h1>
  <div class="spinner-border text-primary m-3" role="status" *ngIf="!profile">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div *ngIf="profile">
    <form #f="ngForm" class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <h2><b>FirstName : </b>{{ profile.userDr.firstName }}</h2>
          <h2><b>LastName : </b>{{ profile.userDr.lastName }}</h2>
        </div>
        <div class="col-md-4">
          <h2><b>Biography : </b>{{ profile.biography }}</h2>
          <h2><b>Note : </b>{{ profile.note }}</h2>
        </div>
        <div class="col-md-4">
          <h2><b>Current Position : </b>{{ profile.currentPosition }}</h2>
          <h2><b>AcedemicTrainig : </b>{{ profile.academicTraining }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2><b>WorkExperience : </b>{{ profile.workExperience }}</h2>

      </div>
        <div class="col-md-6">
          <button class="btn btn-success" (click)="goToAddPub()">
            <i class="bi bi-plus-square"></i> Add Publication
          </button>

        </div>
        <div class="col-md-6">
        <button class="btn btn-success" (click)="goToPub()">
          <i class="bi bi-plus-square"></i> Publication list
        </button>
      </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 mt-2">
          <label for="profileBiography" class="form-label"
            >Biography<span style="color: red"> *</span></label
          >
          <input
            type="text"
            class="form-control"
            id="profileBiography"
            name="profileBiography"
            aria-describedby="profileBiographyHelp"
            required
            [(ngModel)]="profile.biography"
            minlength="6"
            #bio="ngModel"
          />
          <div *ngIf="bio.pristine" id="profileBiographyHelp" class="form-text">
            <i class="bi bi-info-circle"></i> Biography doit contenir au moins 6
            lettres.
          </div>
          <div *ngIf="bio.invalid && (bio.dirty || bio.touched)" class="mt-1">
            <span *ngIf="bio.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Biography est requise.
            </span>
            <span *ngIf="bio.errors.minlength" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Veuillez Biography une
              valeur valide.
            </span>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="profileCurrentPosition" class="form-label"
            >Current Position<span style="color: red"> *</span></label
          >
          <input
            type="text"
            class="form-control"
            id="profileCurrentPosition"
            name="profileCurrentPosition"
            aria-describedby="profileCurrentPositionHelp"
            required
            [(ngModel)]="profile.currentPosition"
            minlength="6"
            #curr="ngModel"
          />
          <div
            *ngIf="curr.pristine"
            id="profileCurrentPositionHelp"
            class="form-text"
          >
            <i class="bi bi-info-circle"></i> Current Position doit contenir au
            moins 6 lettres.
          </div>
          <div
            *ngIf="curr.invalid && (curr.dirty || curr.touched)"
            class="mt-1"
          >
            <span *ngIf="curr.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Current Position est
              requise.
            </span>
            <span *ngIf="curr.errors.minlength" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Veuillez Current Position
              une valeur valide.
            </span>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="profileNote" class="form-label"
            >Note<span style="color: red"> *</span></label
          >
          <input
            type="number"
            class="form-control"
            id="profileNote"
            name="profileNote"
            aria-describedby="profileNoteHelp"
            required
            [(ngModel)]="profile.note"
            #note="ngModel"
          />
          <div
            *ngIf="note.invalid && (note.dirty || note.touched)"
            class="mt-1"
          >
            <span *ngIf="note.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Note est requise.
            </span>
            <span *ngIf="note.errors.minlength" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Veuillez Note une valeur
              valide.
            </span>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="profileAcedemicTrainig" class="form-label"
            >AcedemicTrainig<span style="color: red"> *</span></label
          >
          <input
            type="text"
            class="form-control"
            id="profileAcedemicTrainig"
            name="profileAcedemicTrainig"
            aria-describedby="profileAcedemicTrainigHelp"
            required
            [(ngModel)]="profile.academicTraining"
            minlength="6"
            #acc="ngModel"
          />
          <div
            *ngIf="acc.pristine"
            id="profileAcademicTrainingHelp"
            class="form-text"
          >
            <i class="bi bi-info-circle"></i> Academic Training doit contenir au
            moins 6 lettres.
          </div>
          <div *ngIf="acc.invalid && (acc.dirty || acc.touched)" class="mt-1">
            <span *ngIf="acc.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> AcademicTraining est
              requise.
            </span>
            <span *ngIf="acc.errors.minlength" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Veuillez AcademicTraining
              une valeur valide.
            </span>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <label for="profileworkExperience" class="form-label"
            >WorkExperience<span style="color: red"> *</span></label
          >
          <input
            type="text"
            class="form-control"
            id="profileWorkExperience"
            name="profileWorkExperience"
            aria-describedby="profileWorkExperienceHelp"
            required
            [(ngModel)]="profile.workExperience"
            minlength="6"
            #work="ngModel"
          />
          <div
            *ngIf="work.pristine"
            id="profileWorkExperiencHelp"
            class="form-text"
          >
            <i class="bi bi-info-circle"></i> WorkExperienc doit contenir au
            moins 6 lettres.
          </div>
          <div
            *ngIf="work.invalid && (work.dirty || work.touched)"
            class="mt-1"
          >
            <span *ngIf="work.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> WorkExperienc est
              requise.
            </span>
            <span *ngIf="work.errors.minlength" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Veuillez WorkExperienc
              une valeur valide.
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="col-6 my-5 mx-3">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="modifier()"
            [disabled]="f.invalid"
          >
            <i class="bi bi-pencil-square"></i> Modifier
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
