<div class=container>
  <h2><i class="bi bi-pencil-square"></i> Consultation</h2>
  <div class="container">
    <form #f="ngForm" class="row g-3">
      <div class="col-md-4">
        <label for="firstNamePatient" class="form-label">Nom de patient</label>
        <input type="text" class="form-control" id="firstNamePatient" name="firstNamePatient" disabled [ngModel]="userPatient.firstName">
      </div>
      <div class="col-md-4">
        <label for="lastNamePatient" class="form-label">Prénom de patient</label>
        <input type="text" class="form-control" id="lastNamePatient" name="lastNamePatient" disabled [ngModel]="userPatient.lastName">
      </div>
      <div class="col-md-4">
        <label for="DateOfBirthPatient" class="form-label">Date de naissance </label>
        <input type="text" class="form-control" id="DateOfBirthPatient" name="DateOfBirthPatient" disabled [ngModel]="userPatient.dateOfBirth | date : 'shortDate'  : 'GMT+2'">
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <label for="symtomZone" class="form-label">Statut <span style="color: red"> *</span></label>
          <select class="form-select" aria-label="symtomZone" id="symtomZone" name="symtomZone"
                  required
                  [(ngModel)]="consultation.status"
                  #status="ngModel">
            <option *ngFor="let object of statusConsultation" [ngValue]="object">
              {{ object }}
            </option>
          </select>
          <div *ngIf="status.invalid && (status.dirty || status.touched)" class="">
            <span *ngIf="status.errors.required" class="form-text text-danger">
              <i class="bi bi-exclamation-circle"></i> Statut est requis.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <ul class="list-group" *ngIf="!viewForm">
          <h2><i class="bi bi-list"></i> Liste des symptômes <a role="button" class="text-info p-2" title="Edit" data-toggle="tooltip"  (click)="viewFormSymptom()"><i class="bi bi-pencil-square"></i></a></h2>
          <li *ngFor="let object of symptoms" class="list-group-item">{{object.description}}</li>
        </ul>
        <app-symptom-list *ngIf="viewForm"
        (sendSymptoms)="addSymptom($event)">
        </app-symptom-list>
      </div>
      <div class="col-md-3">
        <label for="poidsPatient" class="form-label">Poids (Kg)</label>
        <input type="number" class="form-control" id="poidsPatient" name="poidsPatient" [(ngModel)]="consultation.weightPatient">
      </div>
      <div class="col-md-3">
        <label for="hauteurPatient" class="form-label">Hauteur (m)</label>
        <input type="number" class="form-control" id="hauteurPatient" name="hauteurPatient" [(ngModel)]="consultation.heightPatient">
      </div>
      <div class="col-md-3">
        <label for="temperaturePatient" class="form-label">Temperature (c°)</label>
        <input type="number" class="form-control" id="temperaturePatient" name="temperaturePatient" [(ngModel)]="consultation.bodyTemperature">
      </div>
      <div class="col-md-3">
        <label for="bloodPressurePatient" class="form-label">Tension artérielle (mmHg)</label>
        <input type="number" class="form-control" id="bloodPressurePatient" name="bloodPressurePatient" [(ngModel)]="consultation.bloodPressure">
      </div>
      <div class="col-12">
        <label for="diagnosticPatient" class="form-label">Diagnostic <span style="color: red"> *</span></label>
        <div *ngIf="diagnostic.invalid && (diagnostic.dirty || diagnostic.touched)" class="">
          <span *ngIf="diagnostic.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Diagnostic est requis.
          </span>
          <span *ngIf="diagnostic.errors.minlength" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Diagnostic invalide.
          </span>
        </div>
        <ckeditor class="form-control diagnostic" id="diagnosticPatient" name="diagnosticPatient"
                  [config]="editorConfig" [editor]="Editor"
                  required
                  minlength="20"
                  [(ngModel)]="consultation.diagnostic"
                  #diagnostic="ngModel">
        </ckeditor>
      </div>
      <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" (click)="saveConsultation()" [disabled]="f.invalid "><i class="bi bi-save2"></i> Enregistrer</button>
        <a class="mx-3 btn btn-warning" role="button" data-bs-toggle="button" [routerLink]="['/medicalExam/add', consultation.id]" ><i class="bi bi-box-arrow-in-right"></i> Créer un Examen</a>
      </div>
    </form>
  </div>
</div>


