<div class="container mt-5">
  <h1><i class="bi bi-plus-square"></i>Publication</h1>

  <form #f="ngForm" class="container">
    <div class="row">
      <div class="col-md-6 mt-2">
        <label for="publicationTitle" class="form-label"
          >Title<span style="color: red"> *</span></label
        >
        <input
          type="text"
          class="form-control"
          id="publicationTitle"
          name="publicationTitle"
          aria-describedby="publicationTitleHelp"
          required
          [(ngModel)]="publication.title"
          minlength="6"
          #title="ngModel"
        />
        <div *ngIf="title.pristine" id="publicationTitleHelp" class="form-text">
          <i class="bi bi-info-circle"></i> Title doit contenir au moins 6
          lettres.
        </div>
        <div
          *ngIf="title.invalid && (title.dirty || title.touched)"
          class="mt-1"
        >
          <span *ngIf="title.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Title est requise.
          </span>
          <span *ngIf="title.errors.minlength" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Veuillez Title une valeur
            valide.
          </span>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <label for="publicationcontente" class="form-label"
          >Content<span style="color: red"> *</span></label
        >
        <input
          type="text"
          class="form-control"
          id="publicationcontente"
          name="publicationcontente"
          aria-describedby="publicationcontenteHelp"
          required
          [(ngModel)]="publication.contente"
          minlength="6"
          #content="ngModel"
        />
        <div
          *ngIf="content.pristine"
          id="publicationcontenteHelp"
          class="form-text"
        >
          <i class="bi bi-info-circle"></i> Content doit contenir au moins 6
          lettres.
        </div>
        <div
          *ngIf="content.invalid && (content.dirty || content.touched)"
          class="mt-1"
        >
          <span *ngIf="content.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Content est requise.
          </span>
          <span *ngIf="content.errors.minlength" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Veuillez Content une valeur
            valide.
          </span>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <label for="publicationfile" class="form-label"
          >file<span style="color: red"> *</span></label
        >
        <input
          type="text"
          class="form-control"
          id="publicationfile"
          name="publicationfile"
          aria-describedby="publicationfileHelp"
          required
          [(ngModel)]="publication.file"
          #file="ngModel"
        />
        <div *ngIf="file.invalid && (file.dirty || file.touched)" class="mt-1">
          <span *ngIf="file.errors.required" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> file est requise.
          </span>
          <span *ngIf="file.errors.minlength" class="form-text text-danger">
            <i class="bi bi-exclamation-circle"></i> Veuillez file une valeur
            valide.
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="col-6 my-5 mx-3">
        <button class="btn btn-success" (click)="sendEditNotif()">
          <i class="bi bi-plus-square"></i> Modifier
        </button>
      </div>
    </div>
  </form>
</div>
