<app-header></app-header>
<div class="container">
  <h1>Comments :</h1>
  <div class="spinner-border text-warning m-3" role="status" *ngIf="!comments">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="section-top-border">
    <div class="row">
      <div class="col-lg-12 mt-3" *ngFor="let comment of comments">
        <div class="d-flex justify-content-end">
          <span style="color: blue">
            <i class="fas fa-plus-square mx-2"></i
          ></span>
          {{ comment.createdAt | date: "medium":"GMT" }}
        </div>
        <div class="d-flex justify-content-end">
          <span style="color: orange">
            <i class="fas fa-pen-square mx-2"></i
          ></span>
          {{ comment.updatedAt | date: "medium":"GMT" }}
        </div>
        <h3 class="mb-30">
          {{ comment.user.firstName }} {{ comment.user.lastName }}
        </h3>
        <blockquote class="generic-blockquote">
          “ {{ comment.contente }} ”
        </blockquote>
        <a
          *ngIf="comment.user.id == userId"
          role="button"
          class="text-danger p-2"
          title="Update"
          data-toggle="tooltip"
          (click)="updateComment(comment)"
        >
          <span style="color: orange">
            <i class="fas fa-pen-alt mx-2 my-1"></i></span
        ></a>
        <a
          *ngIf="comment.user.id == userId"
          role="button"
          class="text-danger p-2"
          title="Delete"
          data-toggle="tooltip"
          (click)="deleteComment(comment)"
        >
          <span style="color: red">
            <i class="far fa-trash-alt mx-2 my-1"></i></span
        ></a>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="affAddCommentForm()">
          <i class="bi bi-plus-square"></i> Add Comment
        </button>
      </div>
      <div class="section-top-border" *ngIf="showForm">
        <h3 class="mb-30" *ngIf="addForm">Add comment</h3>
        <h3 class="mb-30" *ngIf="!addForm">Edit comment</h3>
        <div class="row">
          <div class="col-lg-12">
            <form #f="ngForm">
              <blockquote class="generic-blockquote">
                <textarea
                  required
                  [(ngModel)]="newComment"
                  name="comment"
                  #comment="ngModel"
                  placeholder="enter your message"
                  style="border: none; outline: none; width: 100%; height: 100%"
                ></textarea>
              </blockquote>
              <div
                *ngIf="comment.invalid && (comment.dirty || comment.touched)"
                class="mt-1"
              >
                <span
                  *ngIf="comment.errors.required"
                  class="form-text text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i> comment est requise.
                </span>
              </div>
              <a
                *ngIf="f.valid && addForm"
                role="button"
                class="text-primary p-2"
                title="add"
                data-toggle="tooltip"
                (click)="addComment()"
              >
                <span style="color: green">
                  <i class="fas fa-plus-square mx-2 my-1 fa-2x"></i
                ></span>
              </a>
              <a
                *ngIf="f.valid && !addForm"
                role="button"
                class="text-primary p-2"
                title="add"
                data-toggle="tooltip"
                (click)="editComment()"
              >
                <span style="color: orange">
                  <i class="fas fa-pen-square mx-2 my-1 fa-2x"></i
                ></span>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
