.ng-valid[required]:not(ckeditor), .ng-valid.required:not(ckeditor)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form, ckeditor)  {
  border-left: 5px solid #FF0000; /* red */
}

.ck-editor__editable_inline {
  min-height: 150px !important;
}


