<app-file-medical-exam-form *ngIf="viewForm" (addEvent)="addFileMedicalExam($event)"
                            (editEvent)="editFileMedicalExam($event)"
                            [addModeChild]="addMode"
                            [fileMedicalExam1]="fileMedicalExamToEdit">
</app-file-medical-exam-form>
<div class=container>
  <div class="row mt-2">
    <div class="col-md-8">
      <h2><i class="bi bi-table"></i> File Medical Exam table</h2>
    </div>

  </div>
  <div class="container">
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col"></th>

        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

        <th scope="col" class="text-lg-center h5">
          <a *ngIf="!viewForm" role="button" class="text-success p-2" title="Add" data-toggle="tooltip" (click)="viewForm = true; addMode=true"><i class="bi bi-plus-square"></i></a>
          <a *ngIf="viewForm" role="button" class="text-danger p-2" title="Add" data-toggle="tooltip" (click)="viewForm = false; addMode=false"><i class="bi bi-x-circle"></i></a>
        </th>
      </tr>
      <tr>
        <th scope="col" style="width: 80px">#</th>
        <th scope="col"  data-order="desc" data-name="titre"><i class="bi bi-chevron-bar-expand"></i> Titre</th>
        <th scope="col" data-order="desc" data-name="description"><i class="bi bi-chevron-bar-expand"></i> Description</th>
        <th scope="col" data-order="desc" data-name="status"><i class="bi bi-chevron-bar-expand"></i> Fichier</th>
        <th scope="col" data-order="desc" data-name="createdAt" data-type="date"><i class="bi bi-chevron-bar-expand"></i> Date creation</th>
        <th scope="col" data-order="desc" data-name="createdAt" data-type="date"><i class="bi bi-chevron-bar-expand"></i> Date modification</th>

        <th scope="col"><i class="bi bi-gear"></i> Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr start="i" *ngFor="let object of fileMedicalExams  | paginate: config ; let i = index">
        <th scope="row">{{ object.id}}</th>
        <td>{{ object.title }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.urlFile }}</td>

        <td>{{ object.createdAt | date : 'medium'  : 'GMT+2' }}</td>
        <td>{{ object.createdAt | date : 'medium'  : 'GMT+2' }}</td>
        <td class="text-lg-center h5">
          <a role="button" class="text-info p-2" title="Edit" data-toggle="tooltip"><i class="bi bi-pencil-square"></i></a>
          <a role="button" class="text-danger p-2" title="Delete" data-toggle="tooltip" (click)="deleteFileMedicalExam(object)"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>

